:root {
	--name: "gtheme";
	--display-name: "gtheme";
}

:root[data-theme="dark"] {
	--background: #101316;
	--background-panel: #262838;
	--background-element: #101316;
	--foreground: #d9daec;
	--foreground-muted: #656675;
	--border: #262838;
	--border-active: #c6c7d8;
	--primary: #83a598;
	--secondary: #689d6a;
	--accent: #fabd2f;
	--error: #cc241d;
	--warning: #d79921;
	--success: #b8bb26;
	--info: #458588;
	--selection-background: #262838;
	--selection-foreground: #d9daec;
	--cursor: #d9daec;
	--syntax-comment: #7f858b;
	--syntax-keyword: #fb4934;
	--syntax-function: #8ec07c;
	--syntax-method: #689d6a;
	--syntax-string: #b8bb26;
	--syntax-number: #d3869b;
	--syntax-type: #fabd2f;
	--syntax-variable: #83a598;
	--syntax-operator: #8ec07c;
	--syntax-punctuation: #cec7ba;
}

:root[data-theme="light"] {
	--background: #f4f4f9;
	--background-panel: #fdfdfd;
	--background-element: #d9daec;
	--foreground: #101316;
	--foreground-muted: #656675;
	--border: #c6c7d8;
	--border-active: #262838;
	--primary: #5f8f8e;
	--secondary: #5a8d60;
	--accent: #c99824;
	--error: #be2f27;
	--warning: #c36a10;
	--success: #8b9120;
	--info: #4f7f83;
	--selection-background: #d9daec;
	--selection-foreground: #101316;
	--cursor: #050607;
	--syntax-comment: #797567;
	--syntax-keyword: #c43b2d;
	--syntax-function: #6fa05a;
	--syntax-method: #5a8d60;
	--syntax-string: #8b9120;
	--syntax-number: #ad6e88;
	--syntax-type: #c99824;
	--syntax-variable: #5f8f8e;
	--syntax-operator: #6fa05a;
	--syntax-punctuation: #33302e;
}
